# Base
LOG_LEVEL=info
ENVIRONMENT=prod

# Custom
REST_SERVER_HOST=localhost
REST_SERVER_PORT=3000
NATS_STREAM=doris
SEND_OTP_NOTIFICATION_TOPIC=notifications.otp.send
MONGO_URL=mongodb://localhost:27017
MONGO_DB=doris-hub